<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<p>u1</p>

{{with .u1}}
{{/* - 去除空格*/}}
<p>Hello {{- .Name -}}</p>
<p>性别：{{.Gender}}</p>
<p>年龄：{{.Age}}</p>
{{end}}
<p>m1</p>
<p>Hello {{.m1.Name}}</p>
<p>性别：{{.m1.Gender}}</p>
<p>年龄：{{.m1.Age}}</p>
<hr>
{{/* $为了区分是模板中自定义的变量*/}}
{{ $v1 :=100}}
{{ $age := .m1.age}}
<hr>
{{if $v1}}
{{$v1}}
{{else}}
{{end}}
<hr>

{{range $idx,$hobby := .hobbys}}
    <p>{{$idx}}-{{$hobby}}</p>
{{end}}
</body>
</html>
